<?xml version="1.0" ?>
<launch>
  <arg name="robot_ip" default="172.16.0.2"/>
  <arg name="load_gripper" default="true" />

<!-- Launch of the state publisher node -->
  <include file="$(find franka_control)/launch/franka_control.launch" >
    <arg name="robot_ip" value="$(arg robot_ip)" />
    <arg name="load_gripper" value="$(arg load_gripper)" />
  </include>

<!-- Launch of the external wrench publisher-->
  <rosparam command="load" file="$(find my_franka_controller)/config/my_franka_controllers.yaml" />

  <node name="joint_vel_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen"  args="wrench_publisher"/>
  
<!-- Launch of MoveIt! and position controller-->
  <include file="$(find panda_moveit_config)/launch/panda_moveit.launch">
    <arg name="load_gripper" value="true" />
  </include>
 <include file="$(find panda_moveit_config)/launch/planning_context.launch">
    <arg name="load_robot_description" value="true"/>
  </include>

  <!-- Run Rviz -->
  <arg name="rviz_tutorial" default="false" />
  <arg name="use_gui" default="false" />
  <arg name="debug" default="false" />
  <include file="$(find panda_moveit_config)/launch/moveit_rviz.launch">
    <arg name="rviz_tutorial" value="$(arg rviz_tutorial)"/>
    <arg name="debug" value="$(arg debug)"/>
  </include>

  <node pkg="tf2_ros" type="static_transform_publisher" name="virtual_joint_broadcaster_1" args="0 0 0 0 0 0 world panda_link0" >
    <param name="rate" value="1000"/>
  </node>



</launch>
