<?xml version="1.0" ?>

<launch>

  <arg name="robot_ip" value="172.16.0.2"/>
  <arg name="rviz_tutorial" default="false" />
  <arg name="use_gui" default="false" />
  <arg name="debug" default="false" />


<!-- Launch the state publisher-->
  <include file="$(find franka_controllers)/launch/franka_schunk_control.launch">
     <arg name="robot_ip" value="$(arg robot_ip)" />
  </include>

<!-- Launch the RViz -->
  <include file="$(find panda_moveit_config)/launch/moveit_rviz.launch">
    <arg name="rviz_tutorial" value="$(arg rviz_tutorial)"/>
    <arg name="debug" value="$(arg debug)"/>
  </include>



<!-- Load MoveIt with pos_joint_trajectory_controller (ALWAYS LAUNCHED AS ACTIVE) -->
  <include file="$(find panda_schunk_moveit_config)/launch/schunk_moveit.launch" />
  <include file="$(find schunk_pg70)/launch/pg70_rs232_control.launch" />




  <node pkg="tf2_ros" type="static_transform_publisher" name="virtual_joint_broadcaster_1" args="0 0 0 0 0 0 world panda_link0" >
    <param name="rate" value="1000"/>
  </node>

  <node pkg="tf2_ros" type="static_transform_publisher" name="virtual_joint_broadcaster_2" args="0 0 0.18 0 0 0 schunk_pg70_base_link wire_link" >
    <param name="rate" value="1000"/>
  </node>

</launch>

